*
{
    box-sizing: border-box;
}

body
{
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #202020;
}


.logo
{
    float: left;
}

header, nav, .navbar-outer
{
    min-height: 100px;
}

nav
{
    padding: 10px;
    z-index: 10;
}

nav .navigation-link
{
    margin: 12px 5px;
    vertical-align: middle;
    font-size: 23px;
}

nav .navigation-link:link,
nav .navigation-link:visited
{
    text-decoration: none;
    padding: 5px 7px;
    border-radius: 7px;
    border: 2px solid transparent;
}

nav .navigation-link:hover,
nav .navigation-link:active
{
    text-decoration: none !important;
}


main
{
    padding: 10px;
    text-align: left;
}

main.container
{
    text-align: left;
}


footer
{
    padding: 5px;
}

.footer-link
{
    color: #202020;
}


h1
{
    text-align: center;
}

h1, h2, h4
{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

h3, h5, h6
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

input
{
    color: #202020 !important;
}



/* ------------------------- */
/* -----  Residential  ----- */
/* ------------------------- */

body.residential header,
body.residential nav,
body.residential #navbarSupportedContent,
body.residential footer
{
    background-color: #f3f2f1;
}

body.residential .navigation-link-current-page
{
    color: #00c2cb;
}

body.residential .navigation-link:link,
body.residential .navigation-link:visited
{
    color: #202020;
    background-color: #00d2db;
}

body.residential .navigation-link:hover,
body.residential .navigation-link:active
{
    color: #202020;
    background-color: #f3f2f1;
}



/* -------------------------- */
/* -------  Business  ------- */
/* -------------------------- */

body.business header,
body.business nav,
body.business #navbarSupportedContent,
body.business footer
{
    background-color: #00c2cb;
}

body.business .navigation-link-current-page
{
    color: #f3f2f1 !important;
}

body.business .navigation-link:link,
body.business .navigation-link:visited
{
    color: #202020;
}

body.business .navigation-link:hover,
body.business .navigation-link:active
{
    color: #202020;
    background-color: #f3f2f1;
}
