*
{
    box-sizing: border-box;
}

body
{
    background-color: #f3f2f1;
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #202020;
}



.logo
{
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

header
{
    background-color: #00c2cb;
    height: 100px;
}

nav
{
    padding: 10px;
    height: 100%;
}

main
{
    padding: 10px;
}

main.container
{
    text-align: left;
}

footer
{
    background-color: #00c2cb;
}


a:hover,
a:active
{
    text-decoration: underline !important;
}


.float-right
{
    float: right;
}


nav a
{
    margin: 12px 5px;
}

nav a:link,
nav a:visited
{
    color: #202020;
    text-decoration: none;
    background-color: #00d2db;
    padding: 5px 7px;
    border-radius: 5px;
    border: 2px solid transparent;
}

nav a:hover,
nav a:active
{
    color: #202020;
    text-decoration: none !important;
    border-radius: 7px;
    border: 2px solid #f3f2f1;
}


.navigation-link
{
    width: 70px;
}

.navigation-link-big
{
    width: 90px;
}
