*
{
    box-sizing: border-box;
}

body
{
    background-color: #f3f2f1;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: left;
    color: #202020;
    overflow-x: hidden;
}


.background-image-powerline, .background-image-coffee-shop, .background-image-wind-turbines, .background-image-hydropower-plant, .background-image-preston
{
    position: relative;
}

.background-image-powerline::before, .background-image-coffee-shop::before, .background-image-wind-turbines::before, .background-image-hydropower-plant::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.background-image-preston::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.background-image-preston { background-color: #202020 }
.background-image-preston { z-index: 2; }

.background-image-top::before { background-position: center top !important; }
.background-image-bottom::before { background-position: center bottom !important; }
.background-image-right::before { background-position: center right !important; }

.background-image-opacity-35::before { opacity: 0.35 !important; }

.background-image-preston:not(.preload)::before { background-image: url('/img/background/preston_full.webp'); }
.background-image-powerline:not(.preload)::before { background-image: url('/img/background/powerline_full.webp'); }
.background-image-coffee-shop:not(.preload)::before { background-image: url('/img/background/coffee-shop_full.webp'); }
.background-image-wind-turbines:not(.preload)::before { background-image: url('/img/background/wind-turbines_full.webp'); }
.background-image-hydropower-plant:not(.preload)::before { background-image: url('/img/background/hydropower-plant_full.webp'); }

@media (max-width: 1000px) and (max-height: 563px)
{
    .background-image-preston:not(.preload)::before { background-image: url('/img/background/preston_half.webp'); }
    .background-image-powerline:not(.preload)::before { background-image: url('/img/background/powerline_half.webp'); }
    .background-image-coffee-shop:not(.preload)::before { background-image: url('/img/background/coffee-shop_half.webp'); }
    .background-image-wind-turbines:not(.preload)::before { background-image: url('/img/background/wind-turbines_half.webp'); }
    .background-image-hydropower-plant:not(.preload)::before { background-image: url('/img/background/hydropower-plant_half.webp'); }
}

@media (max-width: 500px) and (max-height: 281px)
{
    .background-image-preston:not(.preload)::before { background-image: url('/img/background/preston_quarter.webp'); }
    .background-image-powerline:not(.preload)::before { background-image: url('/img/background/powerline_quarter.webp'); }
    .background-image-coffee-shop:not(.preload)::before { background-image: url('/img/background/coffee-shop_quarter.webp'); }
    .background-image-wind-turbines:not(.preload)::before { background-image: url('/img/background/wind-turbines_quarter.webp'); }
    .background-image-hydropower-plant:not(.preload)::before { background-image: url('/img/background/hydropower-plant_quarter.webp'); }
}

img.default
{
    max-width: 100%;
}

hr
{
    border: 3px solid #202020;
    margin: 0px;
}


header, nav, .navbar-outer
{
    min-height: 100px;
}


.mode-switch
{
    cursor: pointer;
}


.header-switch-animation-item { transition: all 1s; }

body.business .header-switch-switch { fill: #ffaa00; }
body.business .header-switch-switch.animate { fill: white; animation: whiteToBlue 1s; animation-fill-mode: forwards; }

body.residential .header-switch-switch { fill: #00c2cb; }
body.residential .header-switch-switch.animate { fill: #ffaa00; animation: whiteToBlue 1s; animation-fill-mode: forwards; }


body.residential .header-switch-1-slider { position: absolute; left: 8px; top: 33px; width: 22px; }
body.residential .header-switch-1-slider.animate { left: 31px; }

body.residential .header-switch-1-shadow-left { position: absolute; left: 9px; top: 34px; height: 20px; opacity: 0; }
body.residential .header-switch-1-shadow-left.animate { left: 28px; opacity: 1; }

body.residential .header-switch-1-shadow-right { position: absolute; left: 23px; top: 34px; height: 20px; opacity: 1; }
body.residential .header-switch-1-shadow-right.animate { left: 42px; opacity: 0; }

body.business .header-switch-1-slider { position: absolute; left: 31px; top: 33px; width: 22px; }
body.business .header-switch-1-slider.animate { left: 8px; }

body.business .header-switch-1-shadow-left { position: absolute; left: 28px; top: 34px; height: 20px; opacity: 1; }
body.business .header-switch-1-shadow-left.animate { left: 9px; opacity: 0; }

body.business .header-switch-1-shadow-right { position: absolute; left: 42px; top: 34px; height: 20px; opacity: 0; }
body.business .header-switch-1-shadow-right.animate { left: 23px; opacity: 1; }


body.residential .header-switch-2-slider { position: absolute; left: 9px; top: 37px; width: 27px; }
body.residential .header-switch-2-slider.animate { left: 38px; }

body.residential .header-switch-2-shadow-left { position: absolute; left: 13px; top: 38px; height: 25px; opacity: 0; }
body.residential .header-switch-2-shadow-left.animate { left: 34px; opacity: 1; }

body.residential .header-switch-2-shadow-right { position: absolute; left: 27px; top: 38px; height: 25px; opacity: 1; }
body.residential .header-switch-2-shadow-right.animate { left: 50px; opacity: 0; }

body.business .header-switch-2-slider { position: absolute; left: 38px; top: 37px; width: 27px; }
body.business .header-switch-2-slider.animate { left: 9px; }

body.business .header-switch-2-shadow-left { position: absolute; left: 34px; top: 38px; height: 25px; opacity: 1; }
body.business .header-switch-2-shadow-left.animate { left: 13px; opacity: 0; }

body.business .header-switch-2-shadow-right { position: absolute; left: 50px; top: 38px; height: 25px; opacity: 0; }
body.business .header-switch-2-shadow-right.animate { left: 27px; opacity: 1; }



.logo
{
    height: 100px;
    float: left;
}

.logo-svg
{
    height: 80px;
    float: left;
    margin: 10px;
    width: 90px;
}

.switch
{
    height: 100px;
}

.switch-text
{
    height: 100px;
    font-size: 17px;
    padding-left: 1rem;
}

.center-text
{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    text-align: right;
}


.center-content
{
    align-items: center;
    justify-content: center;
    margin: auto;
}


nav
{
    padding-right: 0px !important;
    z-index: 10;
}

nav .navigation-link
{
    margin: 12px 5px;
    vertical-align: middle;
    font-size: 23px;
    font-weight: 700;
}

nav .navigation-link:link,
nav .navigation-link:visited
{
    color: #202020 !important;
    padding: 5px 7px;
    border-radius: 7px;
    border: 2px solid transparent;
}

nav .navigation-link:hover,
nav .navigation-link:active
{
    color: #202020 !important;
    text-decoration: underline !important;
}


footer
{
    padding-top: 15px;
    background-color: #202020;
    color: #f3f2f1;
    font-weight: 100;
    font-size: 22px;
}

.footer-link
{
    color: #f3f2f1;
}

.footer-social-link-image
{
    margin: 10px;

}

.footer-social-link:link
.footer-social-link:visited,
.footer-social-link:hover,
.footer-social-link:active
{
    text-decoration: none;
}

.navigation-link-footer-current-page
{
    color: #00c2cb;
    font-weight: 700;
}

a:focus
{
    outline: 1px solid orange;
}



table#footer-links
{
    width: 100%;
}

table#footer-links td:first-child
{
    text-align: right;
}

table#footer-links td:nth-child(2)
{
    text-align: left;
}

table#footer-links td
{
    padding: 0px 15px;
}


.full-size, .full-size-80, .full-size-60, .full-size-50, .full-size-40, .full-size-30
{
    padding: 0px;
}

.full-size
{
    min-height: 100vh;
}

.full-size-80
{
    min-height: 80vh;
}

.full-size-60
{
    min-height: 60vh;
}

.full-size-50
{
    min-height: 50vh;
}

.full-size-40
{
    min-height: 40vh;
}

.full-size-30
{
    min-height: 30vh;
}


.left-column-content
{
    background-color: #f3f2f1;
    padding: 30px;
    line-height: 1.8;
}

.left-column-content-no-padding
{
    padding: 0px !important;
}


h1
{
    text-align: left;
    margin-top: 30px;
}

h1, h2, h4
{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

h3, h5, h6
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}


.form-group
{
    display: inline-block;
    width: 100%;
}


.form-black input, .form-black select, .form-black textarea
{
    color: #202020 !important;
}

.form-black input:not([type=submit], [type=button], [type=reset]), .form-black select, .form-black textarea
{
    background-color: #202020 !important;
    color: #f3f2f1 !important;
}

.form-black input:not([type=submit], [type=button], [type=reset])::placeholder, .form-black textarea::placeholder,
.form-black input:not([type=submit], [type=button], [type=reset])::-moz-placeholder, .form-black textarea::-moz-placeholder,
.form-black input:not([type=submit], [type=button], [type=reset])::-webkit-input-placeholder, .form-black textarea::-webkit-input-placeholder
{
    color: #f3f2f1 !important;
}

.form-black input:-webkit-autofill,
.form-black select:-webkit-autofill,
.form-black textarea:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0 50px #202020 inset;
    box-shadow: 0 0 0 50px #202020 inset;
    -webkit-text-fill-color: #f3f2f1;
}

.form-black input:-webkit-autofill:focus,
.form-black select:-webkit-autofill:focus,
.form-black textarea:-webkit-autofill:focus
{
    -webkit-box-shadow: 0 0 0 50px #202020 inset;
    box-shadow: 0 0 0 50px #202020 inset;
    -webkit-text-fill-color: #f3f2f1;
}

.form-error-message
{
    font-size: 15px;
    color: red;
    font-weight: normal;
}

.big-blue-button, .square-blue-button, input[type=submit], input[type=button], input[type=reset]
{
    background-color: #00d2db !important;
    border: none !important;
}
.big-blue-button
{
    width: 250px;
    border-radius: 12px;
    padding: 10px;
    font-size: 27px;
    font-weight: bold;
}
.square-blue-button
{
    width: 200px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}


.row:not(.no-margin)
{
    max-width: 100%;
    margin: 0px !important;
}


.no-padding
{
    padding: 0px !important;
}

.padding-20px
{
    padding: 20px;
}


/* Style the buttons that are used to open and close the accordion panel */
.faq-accordion
{
    background-color: transparent;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    transition: 0.4s;
    border-width: 0;
    border-bottom: 4px solid #202020;
    align-content: center;
    display: flex;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.faq-active, .faq-accordion:hover
{
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.faq-panel
{
    padding: 0px 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.faq-active + .faq-panel
{
    padding-top: 18px;
}

.faq-accordion:before
{
    content: '\0002B'; /* Unicode character for "plus" sign (+) */
    font-size: 20px;
    color: #777;
    float: left;
    margin-right: 15px;
}
.faq-active:before
{
    content: "\2212"; /* Unicode character for "minus" sign (-) */
}

/* ------------------------- */
/* -----  Residential  ----- */
/* ------------------------- */

body.residential header,
body.residential nav,
body.residential #navbarSupportedContent
{
    background-color: #f3f2f1;
}

body.residential .switch-text
{
    color: #202020;
}

body.residential .navigation-link-current-page
{
    color: #00c2cb !important;
}



/* -------------------------- */
/* -------  Business  ------- */
/* -------------------------- */

body.business header,
body.business nav,
body.business #navbarSupportedContent
{
    background-color: #00c2cb;
}


body.business .navigation-link-current-page,
body.business .switch-text
{
    color: #f3f2f1 !important;
}


@media (min-width: 768px)
{
    .faq
    {
        padding-top: 80px !important;
    }
}

@media (max-width: 767px)
{
    .left-column-content
    {
        padding: 0px 20px 20px;
    }

    .mobile-only-padding-30
    {
        padding: 30px;
    }
}

@media (max-width: 575px)
{
    footer td, footer th
    {
        width: 100%;
        display: block;
        text-align: center !important;
    }
}
