*
{
    box-sizing: border-box;
}

body
{
    background-color: #eeeeff;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #202020;
}


header, nav, .navbar-outer
{
    min-height: 100px;
}


.mode-switch
{
    cursor: pointer;
}

.logo
{
    height: 100px;
    float: left;
}

.switch
{
    height: 100px;
    float: right;
}

.switch-text
{
    height: 100px;
    float: right;
    font-size: 17px;
    padding-left: 1rem;
}

.center-text
{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    text-align: right;
}


nav
{
    padding-right: 0px !important;
    z-index: 10;
}

nav .navigation-link
{
    margin: 12px 5px;
    vertical-align: middle;
    font-size: 23px;
    font-weight: 700;
}

nav .navigation-link:link,
nav .navigation-link:visited
{
    color: #202020 !important;
    padding: 5px 7px;
    border-radius: 7px;
    border: 2px solid transparent;
}

nav .navigation-link:hover,
nav .navigation-link:active
{
    color: #202020 !important;
    text-decoration: underline !important;
}


main
{
    padding: 10px;
    text-align: left;
}

main.container
{
    text-align: left;
}


footer
{
    padding: 15px;
    background-color: #202020;
    color: #f3f2f1;
    font-weight: 100;
    font-size: 22px;
}

.footer-link
{
    color: #f3f2f1;
}

.navigation-link-footer-current-page
{
    color: #00c2cb;
    font-weight: 700;
}



table#footer-links
{
    width: 100%;
}

table#footer-links td:first-child
{
    text-align: right;
}

table#footer-links td:nth-child(2)
{
    text-align: left;
}

table#footer-links td
{
    padding: 0px 15px;
}


.full-size, .full-size-80, .full-size-50, .full-size-40
{
    padding: 0px;
}

.full-size
{
    min-height: 100vh;
}

.full-size-80
{
    min-height: 80vh;
}

.full-size-50
{
    min-height: 50vh;
}

.full-size-40
{
    min-height: 40vh;
}

.left-column-content
{
    background-color: white;
    padding: 100px 30px;
}

.left-column-content-no-padding
{
    padding: 0px !important;
}


h1
{
    text-align: left;
    margin-top: 30px;
}

h1, h2, h4
{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

h3, h5, h6
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

hr
{
    border: 3px solid black;
    width: 100vw;
    margin: 0px;
}


input
{
    color: #202020 !important;
}

input:not([type=submit], [type=button], [type=reset])
{
    background-color: #202020 !important;
    color: #f3f2f1 !important;
}

input:not([type=submit], [type=button], [type=reset])::placeholder,
input:not([type=submit], [type=button], [type=reset])::-moz-placeholder,
input:not([type=submit], [type=button], [type=reset])::-webkit-input-placeholder
{
    color: white;
}

input:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0 50px #202020 inset;
    -webkit-text-fill-color: #f3f2f1;
}

input:-webkit-autofill:focus
{
    -webkit-box-shadow: 0 0 0 50px #202020 inset;
    -webkit-text-fill-color: #f3f2f1;
    
}

.big-blue-button, input[type=submit], input[type=button], input[type=reset]
{
    background-color: #00d2db !important;
    border: none !important;
}

.big-blue-button
{
    width: 250px;
    border-radius: 12px;
    padding: 10px;
    font-size: 27px;
    font-weight: bold;
}


.row
{
    max-width: 100%;
    margin: 0px !important;
}


/* Style the buttons that are used to open and close the accordion panel */
.faq-accordion
{
    background-color: transparent;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    transition: 0.4s;
    border-width: 0;
    border-bottom: 4px solid black;
    align-content: center;
    display: flex;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.faq-active, .faq-accordion:hover
{
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.faq-panel
{
    padding: 0px 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.faq-active + .faq-panel
{
    padding-top: 18px;
}


.faq-accordion:before
{
    content: '\0002B'; /* Unicode character for "plus" sign (+) */
    font-size: 20px;
    color: #777;
    float: left;
    margin-right: 15px;
}
  
  .faq-active:before {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
  }

/* ------------------------- */
/* -----  Residential  ----- */
/* ------------------------- */

body.residential header,
body.residential nav,
body.residential #navbarSupportedContent
{
    background-color: #f3f2f1;
}

body.residential .switch-text
{
    color: #202020;
}

body.residential .navigation-link-current-page
{
    color: #00c2cb !important;
}



/* -------------------------- */
/* -------  Business  ------- */
/* -------------------------- */

body.business header,
body.business nav,
body.business #navbarSupportedContent
{
    background-color: #00c2cb;
}


body.business .navigation-link-current-page,
body.business .switch-text
{
    color: #f3f2f1 !important;
}


@media (min-width: 768px)
{
    .faq
    {
        padding-top: 80px !important;
    }
}

@media (max-width: 767px)
{
    .switch-text
    {
        display: none;
    }

    .left-column-content
    {
        padding: 0px 20px 20px;
    }
}