*
{
    box-sizing: border-box;
}

body
{
    background-color: #eeeeff;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #202020;
}


header, nav, .navbar-outer
{
    min-height: 100px;
}


.mode-switch
{
    cursor: pointer;
}

.logo
{
    height: 100px;
    float: left;
}

.switch
{
    height: 100px;
    float: right;
}

.switch-text
{
    height: 100px;
    float: right;
    font-size: 17px;
    padding-left: 1rem;
}

.center-text
{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    text-align: right;
    color: white;
}


nav
{
    padding-right: 0px !important;
    z-index: 10;
}

nav .navigation-link
{
    margin: 12px 5px;
    vertical-align: middle;
    font-size: 23px;
}

nav .navigation-link:link,
nav .navigation-link:visited
{
    padding: 5px 7px;
    border-radius: 7px;
    border: 2px solid transparent;
}

nav .navigation-link:hover,
nav .navigation-link:active
{
    text-decoration: underline !important;
}


main
{
    padding: 10px;
    text-align: left;
}

main.container
{
    text-align: left;
}


footer
{
    padding: 15px;
    font-weight: 100;
    font-size: 22px;
}

.footer-link
{
    color: #202020;
}

table#footer-links
{
    width: 100%;
}

table#footer-links td:first-child
{
    text-align: right;
}

table#footer-links td:nth-child(2)
{
    text-align: left;
}

table#footer-links td
{
    padding: 0px 15px;
}


.full-size
{
    min-height: 100vh;
    padding: 0px;
}

.left-column-content
{
    background-color: white;
    padding: 100px 30px;
}


h1
{
    text-align: left;
    margin-top: 30px;
}

h1, h2, h4
{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

h3, h5, h6
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

hr
{
    border: 3px solid black;
    width: 100vw;
    margin: 0px;
}


input
{
    color: #202020 !important;
}

input:not([type=submit], [type=button], [type=reset])
{
    background-color: #202020 !important;
    color: #f3f2f1 !important;
}

input:not([type=submit], [type=button], [type=reset])::placeholder,
input:not([type=submit], [type=button], [type=reset])::-moz-placeholder,
input:not([type=submit], [type=button], [type=reset])::-webkit-input-placeholder
{
    color: white;
}

input:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0 50px #202020 inset;
    -webkit-text-fill-color: #f3f2f1;
}

input:-webkit-autofill:focus
{
    -webkit-box-shadow: 0 0 0 50px #202020 inset;
    -webkit-text-fill-color: #f3f2f1;
    
}

button, input[type=submit], input[type=button], input[type=reset]
{
    background-color: #00d2db !important;
    border: none !important;
    color: #202020 !important;
}


.bigbluebutton
{
    background-color: #00d2db !important;
    border: none !important;
    width: 250px;
    border-radius: 12px;
    padding: 10px;
    font-size: 27px;
    font-weight: bold;
}



/* ------------------------- */
/* -----  Residential  ----- */
/* ------------------------- */

body.residential header,
body.residential nav,
body.residential #navbarSupportedContent,
body.residential footer
{
    background-color: #f3f2f1;
}

body.residential .navigation-link-current-page
{
    color: #00c2cb;
}

body.residential .navigation-link:link,
body.residential .navigation-link:visited
{
    color: #202020;
    background-color: #00d2db;
}

body.residential .navigation-link:hover,
body.residential .navigation-link:active
{
    color: #202020;
    background-color: #f3f2f1;
}



/* -------------------------- */
/* -------  Business  ------- */
/* -------------------------- */

body.business header,
body.business nav,
body.business #navbarSupportedContent
{
    background-color: #00c2cb;
}

body.business footer
{
    background-color: #202020;
    color: #f3f2f1;
}

body.business footer a
{
    color: #f3f2f1;
}


body.business .navigation-link-current-page
{
    color: #f3f2f1 !important;
}

body.business .navigation-link:link,
body.business .navigation-link:visited
{
    color: #202020;
}

body.business .navigation-link:hover,
body.business .navigation-link:active
{
    color: #202020;
}


@media (max-width: 767px)
{
    .switch-text
    {
        display: none;
    }

    .left-column-content
    {
        padding: 0px 20px 20px;
    }
}