.white-box-infographics
{
    align-items: center;
    justify-content: center;
    margin: auto;
    height: auto;
    padding: 20px 0;
}

.white-box-infographics-inner
{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f2f1;
    border-radius: 20px;
    width: 325px;
    height: 425px;
    padding: 20px;
    margin: auto;
    max-width: 100%;
}

.infographics-header
{
    margin-top: 50px;
    font-size: 26px;
    font-weight: 700;
}

@media (max-width: 330px)
{
    .white-box-infographics-inner
    {
        border-radius: 0;
    }
}
